.breadcrumb {
  &-item {
    &,
    & + &::before,
    &.active,
    &.active::before,
    a,
    a:hover {
      color: $gray-800;
    }
  }

  &--white .breadcrumb-item,
  &--white .breadcrumb-item + .breadcrumb-item::before,
  &--white .breadcrumb-item + .breadcrumb-item.active,
  &--white .breadcrumb-item + .breadcrumb-item.active::before,
  &--white .breadcrumb-item a,
  &--white .breadcrumb-item a:hover {
    color: $white;
  }
}

.pagination {
  margin-bottom: 0;

  .page-item {
    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  .page-link {
    color: $gray-800;
    padding: 8px 16px;
    border-radius: 4px;
  }

  @media (max-width: 767px) {
    .page-link {
      padding: 4px 10px;
    }
  }
}

.search {
  display: none;
  width: 100%;
  height: 100%;
  padding: 16px 0;
  background-color: $white;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;

  &.show {
    display: block;
  }

  .form-control {
    border-right: 0;
    padding-left: 16px;
    font-size: 14px;
    background: #F3F3F3;

    &:focus {
      box-shadow: unset;
    }
  }

  .form-control:focus ~ .input-group-text {
    border-color: $input-focus-border-color;
  }

  .input-group-text {
    border-left: 0;
    background: #F3F3F3;

    &:not(:last-child) {
      border-right-width: 0!important;
    }
  }

  @include media-breakpoint-up(xl) {
    display: block;
    // width: 260px;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding: 0;
    margin-left: 40px;
    overflow: hidden;

    .form-control {
      height: 40px;
      border: 0;
      // transform: translateX(100%);
      transition: 0.6s;
      width: 0;
      margin-right: -30px;

      &:focus {
        background-color: #eee;
      }
    }

    &:hover .form-control {
      width: 240px;
      margin-right: 0;
    }

    .input-group-text {
      position: relative;
      z-index: 10;

      &:last-child {
        display: none;
      }

      &:not(:last-child) {
        border-radius: 4px !important;
        border: 0 !important;
        background: $blue;
        color: $white;
        margin: 0 !important;

        &:hover {
          background-color: $blue-darker;
        }
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    margin-left: 50px;
  }
}
