.header {
  position: relative;
  z-index: $zindex-fixed;
  height: 70px;

  &__wrapper {
    width: 100%;
    box-shadow: 0 1px 10px rgba(#000, 0.16);
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__logo {
    display: inline-flex;
    margin: 10px 0;

    img {
      height: 50px;
    }
  }

  &__elements {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  @include media-breakpoint-up(xl) {
    height: 80px;

    &__logo {
      margin: 12px 0;

      img {
        height: 56px;
      }
    }
  }
}

.btn-search {
  display: inline-flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  background: 0;
  border: 0;
  font-size: 20px;
  line-height: 1;
}
